#app__name {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
#form {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    form {
        width: fit-content;
        margin: auto;
        padding: 2rem;
        background-color: #f0f0f0;
        border-radius: 0.3rem;
    }
    &__table {
        margin-bottom: 1rem;
        input[type=number] {
            width: 2rem;
            padding: 0.3rem;
            text-align: center;
        }
    }
    input[type=button] {
        width: 100%;
        padding: 0.5rem;
        border: none;
        background-color: rgb(120, 210, 30);
        cursor: pointer;
        color: #ffffff;
        font-size: 1.3rem;
    }
}
#result {
    &__table {
        width: fit-content;
        margin: auto;
        padding: 1rem;
        th {
            padding: 0 0.3rem;
        }
        td {
            text-align: center;
            &.label {
                text-align: right;
            }
            input[type=text] {
                width: 3rem;
                padding: 0.3rem;
                text-align: center;
            }
        }
    }
}

footer {
    width: 100%;
    padding: 1rem 0;

    position: fixed;
    bottom: 0;

    text-align: center;
}